---
import BaseLayout from "../layouts/BaseLayout.astro";
import { REPRESENTATIVE_IMAGES } from "../utils/constants";

const pageTitle = "Index Page";

const IMAGE_WIDTH_PC = "480px";
const IMAGE_HEIGHT_PC = "320px";
const IMAGE_WIDTH_TAB = "400px";
const IMAGE_HEIGHT_TAB = "267px";
const IMAGE_WIDTH_SP = "240px";
const IMAGE_HEIGHT_SP = "160px";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="contents">
    <div class="images-wrapper">
      {
        REPRESENTATIVE_IMAGES.map((image) => (
          <div class="image-wrapper">
            <a href={`/photos/${image.year}`}>
              <img
                class="representative-image"
                src={image.img.src}
                alt={image.alt}
              />
            </a>
            <div class="year-text">{image.year}</div>
          </div>
        ))
      }
    </div>
  </div>
</BaseLayout>

<style
  define:vars={{
    IMAGE_WIDTH_PC,
    IMAGE_HEIGHT_PC,
    IMAGE_WIDTH_TAB,
    IMAGE_HEIGHT_TAB,
    IMAGE_WIDTH_SP,
    IMAGE_HEIGHT_SP,
  }}
>
  .contents {
    width: 100%;
    height: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .images-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
  }

  .image-wrapper {
    width: var(--IMAGE_WIDTH_PC);
    height: var(--IMAGE_HEIGHT_PC);
    position: relative;
    transform: scale(1);
    transition: transform 0.2s;
  }

  .image-wrapper:hover {
    transform: scale(1.01);
    transition: transform 0.2s;
  }

  .representative-image {
    width: var(--IMAGE_WIDTH_PC);
    height: var(--IMAGE_HEIGHT_PC);
    border-radius: 22px;
  }

  .year-text {
    position: absolute;
    bottom: 12px;
    right: 12px;
    font-weight: 600;
    color: rgb(224, 238, 238);
    font-size: 32px;
    letter-spacing: 0.2rem;
    mix-blend-mode: color-dodge;
    opacity: 0.8;
  }

  @media (min-width: 960px) and (max-width: 1280px) {
    .contents {
      height: 640px;
    }

    .image-wrapper {
      width: var(--IMAGE_WIDTH_TAB);
      height: var(--IMAGE_HEIGHT_TAB);
    }

    .representative-image {
      width: var(--IMAGE_WIDTH_TAB);
      height: var(--IMAGE_HEIGHT_TAB);
      border-radius: 16px;
    }

    .year-text {
      font-size: 32px;
    }
  }

  @media (max-width: 960px) {
    .contents {
      height: 740px;
    }

    .images-wrapper {
      height: 680px;
      grid-template-columns: repeat(1, auto);
    }

    .image-wrapper {
      width: var(--IMAGE_WIDTH_SP);
      height: var(--IMAGE_HEIGHT_SP);
    }

    .representative-image {
      width: var(--IMAGE_WIDTH_SP);
      height: var(--IMAGE_HEIGHT_SP);
      border-radius: 12px;
    }

    .year-text {
      bottom: 4px;
      right: 4px;
      font-size: 16px;
    }
  }
</style>
