---
import '../styles/global.css'
import image2020 from '../assets/2020/ship_2020.webp';
import image2021 from '../assets/2021/mountain_2021.webp';
import image2022 from '../assets/2022/snow-mountain_2022.webp';
import image2023 from '../assets/2023/flower_2023.webp';
import { Image } from 'astro:assets';

const pageTitle = 'Index Page'

const representativeImages = [
	{
		img: image2020,
		alt: 'Taken photos in 2020',
		year: '2020'
	},
	{
		img: image2021,
		alt: 'Taken photos in 2021',
		year: '2021'
	},
	{
		img: image2022,
		alt: 'Taken photos in 2022',
		year: '2022'
	},
	{
		img: image2023,
		alt: 'Taken photos in 2023',
		year: '2023'
	}
]
---
<html lang="ja">
	<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
	<body>
		<main>
			<div class="wrapper">
				<div class="images-wrapper">
					{representativeImages.map((image) => 
						<div class="image-wrapper">
							<Image class="representative-image" src={image.img} alt={image.alt} />
							<div class="year-text">{image.year}</div>
						</div>
					)}
				</div>
			</div>
		</main>		
	</body>
</html>

<style>
	.wrapper {
		height: 100svh;
		background-size: 100%;
		background-image: url('../assets/common/noise.webp');
		background-repeat: repeat;
	}

	.images-wrapper {
		display: grid;
		grid-template-columns: repeat(2, auto);
		column-gap: 1em;
		row-gap: 1em;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}

	.image-wrapper {
		position: relative;
	}

	.year-text {
		position: absolute;
		bottom: 12px;
		right: 12px;
		font-weight: 600;
		color: rgb(224, 238, 238);
		font-size: 48px;
		letter-spacing: .2rem;
	}

	@media (min-width: 1281px)  {
		.representative-image {
			width: 560px;
			height: auto;
			border-radius: 8px;
		}
	}

	@media (min-width: 960px) and (max-width: 1280px) {
		.representative-image {
			width: 320px;
			height: auto;
			border-radius: 6px;
		}

		.year-text {
			font-size: 32px;
		}
	}

	@media (max-width: 960px) {
		.representative-image {
			width: 160px;
			height: auto;
			border-radius: 4px;
		}

		.year-text {
			bottom: 8px;
			right: 8px;
			font-size: 16px;
		}
	}
</style>
